<table class='table table-hover table-striped'>
  <% @page.class::CHOICES.each do |id, text| %>
    <tr>
      <th class="food"><%= text %></th>
      <td><%= @page.votes[id] || 0 %></td>
      <td><%= '#' * (@page.votes[id] || 0) %></td>
    </tr>
  <% end %>
</table>
<p><a href='/'>Cast more votes!</a></p>
